@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  overflow-x: hidden;
  overscroll-behavior: none;
}

::selection {
  background: rgba(0, 80, 255, 0.3);
}

.glassmorphism {
  background: rgba(10, 10, 12, 0.6);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Hide scrollbar for seamless experience */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
